@using TextRpg.Models;

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Space X: Mission to Mars</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href="~/css/styles.css">
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/ajaxScripts.js"></script>
  </head>
  <body>

    <!-- Navbar  -->
    <div class="container" id="navbar">
      <div class="row">
        @if (Game.GetGameUser() != null)
        {
        <div class="col-md-9">
        </div>
        <div class="col-md-1">
          <a href="/User/Display"><p>@Game.GetGameUser().GetName()</p></a>
        </div>
        <div class="col-md-1">
          <a href="/Game/Info"><p>Help</p></a>
        </div>
        <div class="col-md-1">
          <a href="/User/Logout"><p>Logout</p></a>
        </div>
        }
        else if (Game.GetGameUser() == null)
        {
        <div class="col-md-10">
        </div>
        <div class="col-md-1">
          <a href="/Game/Info"><p>Help</p></a>
        </div>
        <div class="col-md-1">
          <a href="/User/Login"><p>Login</p></a>
        </div>
        }
      </div>
    </div>

    <!-- Jumbotron -->
    <div class="container" id="jumbotronContainer">
      <div class="row">
        <div class="col-md-12">
          <h1>Space X: Mission to Mars</h1>
        </div>
      </div>
    </div>

    <!-- Game Container -->
    <div class="container" id="gameContainer">
      <div class="row">

          <!-- Character Stats -->
        <div class="col-md-3 sidebar">
          <div class="row sidebarContainer" id="characterStats">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <p id="characterName" style="text-align: center;">@Game.GetGameUser().GetCharacter().GetName()</p>
                  <p id="characterLevel" style="text-align: center;">@Game.GetGameUser().GetCharacter().GetLevel()</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p id="characterHealth" class="center">@Game.GetGameUser().GetCharacter().GetHealth() / @Game.GetGameUser().GetCharacter().GetMaxHealth()</p>
                  <div id="characterHealthBar">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p id="characterExperience" class="center">@Game.GetGameUser().GetCharacter().GetExperience() / @Game.GetGameUser().GetCharacter().GetExperienceForNextLevel()</p>
                  <div id="characterExperienceBar">
                  </div>
                </div>
              </div>
              <div class="row sidebarTitle">
                <div class="col-md-12">
                  <p>Character Stats</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 characterStats">
                  <p>Armor: @Game.GetGameUser().GetCharacter().GetArmor()</p>
                  <p>Attack Damage: @Game.GetGameUser().GetCharacter().GetAttackDamage()</p>
                  <p>Intelligence: @Game.GetGameUser().GetCharacter().GetIntelligence()</p>
                </div>
                <div class="col-md-6 characterStats">
                  <p>Dexterity: @Game.GetGameUser().GetCharacter().GetDexterity()</p>
                  <p>Luck: @Game.GetGameUser().GetCharacter().GetLuck()</p>
                  <p>Charisma: @Game.GetGameUser().GetCharacter().GetCharisma()</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Equipped Items -->
          <div class="row sidebarContainer" id="equippedItems">
            <div class="col-md-12">
              <div class="row sidebarTitle">
                <div class="col-md-12">
                  <p>Equipped Items</p>
                </div>
              </div>
              <div class="row equippedItems">
                @foreach (var item in Game.GetGameUser().GetCharacter()._equipped)
                {
                  <div class="col-md-4 itemCard2">
                    <p class="itemName">@item.GetName()</p>
                    <img class="itemImage2" src="@item.GetImgUrl()" >
                  </div>
                }
              </div>
            </div>
          </div>


          <!-- Equippable Inventory -->
          <div class="row sidebarContainer" id="equippableInventory">
            <div class="col-md-12">
              <div class="row sidebarTitle">
                <div class="col-md-12">
                  <p>Equippable Items</p>
                </div>
              </div>
              <div class="row" id="equippablesRow">
                  @foreach (var item in Game.GetGameUser().GetCharacter().GetInventory().GetEquippables())
                  {
                    <div class="col-md-3 itemCard equippable">
                      <p class="itemName">@item.GetName()</p>
                      <img class="itemImage equippableItemImage" src="@item.GetImgUrl()">
                      <input type="hidden" value="@item.GetId()">
                    </div>
                  }
              </div>
            </div>
          </div>

          <!-- Disposable Inventory  -->
          <div class="row sidebarContainer" id="disposableInventory">
            <div class="col-md-12">
              <div class="row sidebarTitle">
                <div class="col-md-12">
                  <p>Usable Items</p>
                </div>
              </div>
              <div class="row">
                @foreach (var item in Game.GetGameUser().GetCharacter().GetInventory().GetDisposables())
                {
                  <div class="col-md-3 itemCard">
                    <p class="itemName">@item.GetName()</p>
                    <a href="@item.GetAction()"><img class="itemImage" src="@item.GetImgUrl()"/></a>
                  </div>
                }
              </div>
            </div>
          </div>
        </div>

        <!-- Event Container -->
        <div class="col-md-6" id="eventContainer">
          <div class="row">
            <div class="col-md-12">
              <div class="row" id="eventRow">
                <div class="col-md-12">
                  @RenderBody()
                </div>
              </div>
              <div class="row" id="gameConsoleRow">
                <div class="col-md-12">
                  <div id="gameConsole">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="gameLog">

          </div>
        </div>

        <div class="col-md-3 sidebar">

          <!-- Monster Stats -->
          <div class="row sidebarContainer" id="monsterStats">
            <div class="col-md-12">
              <div class="row sidebarTitle">
                <div class="col-md-12">
                  <p>Monster</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p class="monsterName center">@Game.GetRoom().GetMonster().GetName()</p>
                  <img class="monsterImage" src="@Game.GetRoom().GetMonster().GetImgUrl()" onerror="this.style.display='none'" />
                  <p class="monsterHealthInt center"> @Game.GetRoom().GetMonster().GetHealth() / @Game.GetRoom().GetMonster().GetMaxHealth() </p>
                  <div id="monsterHealthBar">
                    <!-- Input Monster Health Bar Here -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Room Map -->
          <div class="row sidebarContainer" id="roomMap">
            <div class="col-md-12">
              <div class="row sidebarTitle">
                <div class="col-md-12">
                  <p>Game Map</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>Epicodus (C) Alex, Ernest, Justin, Victor 2018</footer>
  </body>
</html>

<script type="text/javascript">

  $(".equippableItemImage").click(function(){
    console.log("The item id you're trying to find is: " + $(this).parent().find("input").val());
    characterAddItemToEquipped($(this).parent().find("input").val());
  })
</script>
