@using TextRpg.Models;

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Simple Template Layout</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href="~/css/styles.css">
  </head>
  <body>

    <!-- Navbar  -->
    <div class="container" id="navbar">
      <div class="row">
        @if (Game.GetUser() != null)
        {
        <div class="col-md-8">
        </div>
        <div class="col-md-2">
          <a href="/User/Display"><p>@Game.GetUser().GetName()</p></a>
        </div>
        <div class="col-md-1">
          <a href="/Game/Info"><p>Help</p></a>
        </div>
        <div class="col-md-1">
          <a href="/User/Logout"><p>Logout</p></a>
        </div>
        }
        else if (Game.GetUser() == null)
        {
        <div class="col-md-10">
        </div>
        <div class="col-md-1">
          <a href="/Game/Info"><p>Help</p></a>
        </div>
        <div class="col-md-1">
          <a href="/User/Login"><p>Login</p></a>
        </div>
        }
      </div>
    </div>

    <!-- Jumbotron -->
    <div class="container" id="jumbotronContainer">
      <div class="row">
        <div class="col-md-12">
          <h1>Space X: Mission to Mars</h1>
        </div>
      </div>
    </div>

    <!-- Game Container -->
    <div class="container" id="gameContainer">
      <div class="row">
        <div class="col-md-3">

          <!-- Character Stats -->
          <div class="row" id="characterStats">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <p id="characterName">@Game.GetGameUser().GetCharacter().GetName()</p>
                  <p id="characterLevel">@Game.GetGameUser().GetCharacter().GetLevel()</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p id="characterHealth">@Game.GetGameUser().GetCharacter().GetHealth / @Game.GetGameUser().GetCharacter().GetMaxhealth()</p>
                  <div id="characterHealthBar">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p id="characterExperience">@Game.GetGameUser().GetCharacter().GetExperience() / @Game.GetGameUser().GetCharacter().GetExperienceForNextLevel()</p>
                  <div id="characterExperienceBar">
                  </div>
              </div>
              <div class="row">
                <div class="col-md-6 characterStats">
                  <p>Armor: @Game.GetGameUser().GetCharacter().GetArmor()</p>
                  <p>Attack Damage: @Game.GetGameUser().GetCharacter().GetAttackDamage()</p>
                  <p>Intelligence: @Game.GetGameUser().GetCharacter().GetIntelligence()</p>
                </div>
                <div class="col-md-6 characterStats">
                  <p>Dexterity: @Game.GetGameUser().GetCharacter().GetDexterity()</p>
                  <p>Luck: @Game.GetGameUser().GetCharacter().GetLuck()</p>
                  <p>Charisma: @Game.GetGameUser().GetCharacter().GetCharisma()</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Equippable Inventory -->
          <div class="row" id="equippableInventory">
            <div class="col-md-12">
              <div class="row">
                @foreach (var item in Game.GetUser().GetCharacter().GetInventory().GetEquippables())
                {
                  <div class="col-md-3 itemCard">
                    <p class="itemName">@item.GetName()</p>
                    <a href="@item.GetAction()"><img class="itemImage" src="@item.GetImgUrl()"/></a>
                  </div>
                }
              </div>
            </div>
          </div>

          <!-- Disposable Inventory  -->
          <div class="row" id="disposableInventory">
            <div class="col-md-12">
              <div class="row">
                @foreach (var item in Game.GetUser().GetCharacter().GetInventory().GetDisposibles())
                {
                  <div class="col-md-3 itemCard">
                    <p class="itemName">@item.GetName()</p>
                    <a href="@item.GetAction()"><img class="itemImage" src="@item.GetImgUrl()"/></a>
                  </div>
                }
              </div>
            </div>
          </div>
        </div>

        <!-- Event Container -->
        <div class="col-md-6" id="eventContainer">
          <div class="row">
            @RenderBody()
          </div>
          <div class="row" id="battleLog">

          </div>
        </div>

        <div class="col-md-3">

          <!-- Monster Stats -->
          <div class="row" id="monsterStats">
            <p class="monsterName">@Game.GetRoom().GetMonster().GetName()</p>
            <img src="@Game.Room.Monster.GetImgUrl()" />
            <p class="monsterHealthInt"> @Game.GetRoom().GetMonster().GetHp() / @Game.GetRoom().GetMonster().GetMaxHp() </p>
            <div id="monsterHealthBar">
              <!-- Input Monster Health Bar Here -->
            </div>
          </div>

          <!-- Room Map -->
          <div class="row" id="roomMap">

          </div>
        </div>
      </div>
    </div>
    <footer>Epicodus (C) Alex, Ernest, Justin, Victor 2018</footer>
  </body>
</html>
